/* Element Styling */

nav {
  background-color: rgb(66, 97, 155);
  font-family: 'Roboto', sans-serif;
}

nav ul {
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}

nav ul li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

nav ul li a:link, nav ul li a:visited {
  color: white;
  border-bottom-style: none;
  text-decoration: none;
}

nav ul li.selected , nav ul li a:hover {
  color: gold;
}

body {
  line-height: 1.3em;
  font-family: 'Nunito', sans-serif;
  background-color:rgba(66, 97, 155, 0.096);
}

section {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

a:link, a:visited {
  color: black;
  font-weight: bold;
}

footer {
  text-align: center;
  margin: 10px;
  color: black; 
  clear: both; 
  font-family: 'Nunito', sans-serif;
}


/* Arrangement of elements by class */

.float-right {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.float-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.clear-left {
  clear: left;
}

.border-break {
  border-bottom: 2px solid gray;
  clear: left;
}

/* Text by class */

.center-text {
  text-align: center;
}
 
.med-font-size {
  font-size: 1.3em;
}


/* Color by class */

.blue, .blue a:link, .blue a:visited {
  background-color: rgb(66, 97, 155);
  color: white; 
}
  
  .light-blue, .light-blue a:link, .light-blue a:visited {
  background-color: rgb(101, 120, 155);
  color: white; 
}
  
  .yellow, .yellow a:link, .yellow a:visited {
  background-color: gold;
  color: black; 
}
  
  .light-yellow, .light-yellow a:link, .light-yellow a:visited {
  background-color: rgb(252, 229, 99);
  color: black; 
}
  
  .green, .green a:link, .green a:visited {
  background-color: teal;
  color: white; 
}
  
  .light-green, .light-green a:link, .light-green a:visited {
  background-color: rgb(75, 134, 134);
  color: white; 
}
  
  .orange, .orange a:link, .orange a:visited {
  background-color: coral;
  color: black; 
}
  
  .light-orange, .light-orange a:link, .light-orange a:visited {
  background-color: rgb(252, 170, 140);
  color: black; 
}


/* Card styling */

/* Wide screens */
@media (min-width: 751px) {
  .card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: auto;
  }
}

/* Narrow screens */
@media (max-width: 750px) {
  .card-deck {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
}

/* All screens */
.card {
  display: grid;
  grid-template-rows: 60px auto auto 30px;
  margin: 15px 10px;
  background-color: white;
  vertical-align: middle;
  width: 90%;
}

.card-foot {
  padding: 5px;
}

.card-desc {
  background-color: white;
  padding: 10px 20px;
  text-align: left;
}

.card-video {
  max-width: 300px;
  padding: 10px 20px;
  justify-self: center;
}


/* Bookcase styling */

/* Wide screens */
@media (min-width: 751px) {
  .bookcase {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width:fit-content;
    height: auto;
    background-color: rgba(160, 81, 45, 0.822);
    border: 20px solid rgba(205, 134, 63, 0.774);
  }

  .bookshelf {
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto;
    border-bottom-color: peru;
    border-top-color: rgba(205, 134, 63, 0.774);
    border-left-color: sienna;
    border-right-color: sienna;
    border-width: 18px;
    border-top-width: 0px;
    border-style: solid;
    align-items:flex-end;
    justify-content: space-between;
  }

  .shelf-front {
    height: 18px;
    background-color: rgba(205, 134, 63, 0.774);
  }
}

/*Narrow screens */
@media (max-width: 750px) {
  .bookcase {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    width:fit-content;
    height: auto;
  }

  .bookshelf {
    display: grid;
    grid-template-columns: auto auto;
    align-items:flex-end;
    justify-content: space-between;
  }

  .shelf-front {
    height: 4px;
    background-color: black;
    margin-top: 8px;
  }
}

/* All screens */
.book, .book-cover {
  max-width: 170px;
  min-width: 150px;
  min-height: 200px;
  margin: 20px 15px 0px 15px;
  padding: 0px 15px;
}

.book-cover {
  text-align: center;
  font-variant-caps: titling-caps;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2;
}